{% extends 'App2/index.html' %}

{% block content %}

<section class="container">
  <div class="card w-50 m-auto">
    <ul class="list-group list-group-flush">
      <p><li class="list-group-item">Title : {{todo.title}}</li></p>
      <p><li class="list-group-item">Content : {{todo.content}}</li></p>
      <p><li class="list-group-item">Date : {{todo.date}}</li></p>
    </ul>
    <div class="card-footer">
      <a href="{% url 'updateView' todo.id %}" class="btn btn-outline-secondary">Update</a>
      <a href="{% url 'deleteView' todo.id %}" class="btn btn-outline-secondary">Delete</a>
    </div>
  </div>
</section>


{% endblock %}